
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

nav {
    @include flexCenter(row);  
    a {
        padding: 1% 3%;
        text-decoration: none;
        color: $mainColor;
    }
    a:hover {
        color: $secColor;
        background-color: $mainColor;
    }
}
@media screen and (max-width: 750px) {
    nav {
        @include flexCenter(column); 
    }
}